html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

html, body {
	font-size: 1.69271vw;
    font-family: Helvetica,"微軟正黑體","Microsoft JhengHei","Heiti TC","黑體",Arial,sans-serif,serif;
    line-height: 1.6;
    color: #000;
    background: #FFF;
}

html {
    line-height: 1
}

ol,ul {
    list-style: none
}

a img {
    border: none
}

a, button {
    margin: 0;
    padding: 0;
    font-size: inherit;
    border: 0;
    border-spacing: 0;
    position: relative;
    background: none;
    outline: 0;
    text-indent: 0;
    text-rendering: auto;
    text-transform: none;
    speak: none;
    transform: translate(0, 0);
    touch-action: manipulation;
    user-select: none;
}

a {
	text-decoration: none
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}

.b-text-left {
    text-align: left
}

.b-text-center {
    text-align: center
}

.b-text-right {
    text-align: right
}

.b-block {
    display: block;
}

.b-inline {
    display: inline-block;
    vertical-align: middle;
}

.b-hide-text {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    text-indent: 200%;
    white-space: nowrap
}

.b-bold {
    font-weight: bold
}

@media screen and (max-width: 739px) {
    .b-text-left-xs {
        text-align: left
    }

    .b-text-center-xs {
        text-align: center
    }

    .b-block-xs {
        display: block
    }
}

@media screen and (max-width: 739px) {
    html,body {
        font-size:4.0625vw
    }

    input,textarea {
        border-radius: 0
    }

    input:not([type="checkbox"]) {
        -webkit-appearance: none
    }
}

.l-body {
    text-size-adjust: none
}

.l-header {
    position: absolute;
    left: 0;
    right: 0;
    box-sizing: border-box;
    z-index: 2;
    transition: ease-in .3s all
}

.l-main {
    background: #dce6e8;
    position: relative
}

.l-lightbox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    transition: ease-in .3s opacity
}

.l-footer {
    background: #000;
    box-sizing: border-box
}

#marker {
	position: absolute;
	top: 100px;
	width: 0px;
	height: 0px;
}

@media screen and (min-width: 740px) and (min-height: 414px) {
    .l-header {
        padding: 0 50px;
        display: flex;
        justify-content: space-between;
        top: 50px
    }

    .l-content {
        box-shadow: inset 20px 20px 0 #FFF,inset -20px -20px 0 #FFF
    }

    .l-footer {
        padding: 13px 50px;
        min-height: 50px
    }
}

@media screen and (device-width: 375px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 0) {
    @supports (not (-ms-accelerator: true)) and (not (-moz-appearance: none)) {
        html {
            background:#000
        }
    }
}

@media screen and (max-width: 739px) {
    .l-body {
        -webkit-text-size-adjust: none
    }

    .l-body.ios-chrome .l-main {
        min-height: calc(100vh - 58px)
    }

    .l-header {
        background: rgba(220,230,232,0.9);
        margin-left: env(safe-area-inset-left);
        margin-right: env(safe-area-inset-right);
        height: 64px;
        position: fixed;
        top: 10px;
        left: 10px;
        right: 10px;
        z-index: 3
    }

    .l-header:after {
        content: '';
        background: #FFF;
        height: 10px;
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px
    }

    .l-main {
        margin-left: env(safe-area-inset-left);
        margin-right: env(safe-area-inset-right);
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 170px);
        overflow: hidden;
        box-shadow: inset 10px 10px 0 #FFF,inset -10px -10px 0 #FFF
    }

    .l-content {
        flex-grow: 1
    }

    .l-footer {
        padding: 5px 40px;
        position: relative;
        z-index: 1;
        line-height: 0
    }
}

@media screen and (max-width: 739px) and (-webkit-min-device-pixel-ratio: 0) {
    @supports (not (-ms-accelerator: true)) and (not (-moz-appearance: none)) {
        html {
            background:#000
        }
    }
}

.l-body[data-page="product"] .menu-list .list:nth-child(2) .b-link:before,.l-body[data-page="product"] .menu-list .list:nth-child(2) .b-link:after {
    width: 100%
}

.m-logo .b-link {
    background: url('../../content/img/shared/icons.png?1522295118') 0 0 no-repeat;
    display: inline-block;
    position: relative
}

.menu-list {
    font-size: 0;
    line-height: 0
}

.menu-list .b-link {
    line-height: 1.5em
}

.menu-list .b-link:before,.menu-list .b-link:after {
    content: '';
    background: #000;
    display: block;
    width: 0;
    height: 1px;
    position: absolute;
    top: 50%;
    transition: ease-in .3s all
}

.menu-list .b-link:before {
    margin-top: -2px;
    left: 0
}

.menu-list .b-link:after {
    margin-top: 1px;
    right: 0
}

.menu-list .btn-link.btn-fb {
    width: 36px;
    height: 36px
}

.menu-list .btn-link.btn-fb:before,.menu-list .btn-link.btn-fb:after {
    content: '';
    background: url('../../content/img/shared/icons.png?1522295118') no-repeat;
    background-size: auto 36px;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: ease-in .3s all
}

.menu-list .btn-link.btn-fb:before {
    background-position: -204px 0
}

.menu-list .btn-link.btn-fb:after {
    background-position: -240px 0;
    opacity: 0
}

.menu-list .btn-link.btn-line {
    background: url('../../content/img/shared/icons.png?1522295118') no-repeat;
    background-position: -276px 0;
    background-size: auto 36px;
    width: 36px;
    height: 36px
}

@keyframes menu-in-xs {
    0% {
        transform: translateX(100vw)
    }

    100% {
        transform: translateX(0)
    }
}

@keyframes btn-line-in-xs {
    0% {
        transform: translateX(25vw)
    }

    100% {
        transform: translateX(0)
    }
}

@media screen and (min-width: 740px) and (min-height: 414px) {
    .m-logo .b-link {
        background-size:auto 36px;
        width: 204px;
        height: 36px
    }

    .menu-list .b-link {
        transition: ease-in .3s all
    }
}

@media screen and (min-width: 740px) and (orientation: portrait) and (max-width: 1000px) {
    .menu-list .b-link {
        margin-right:15px;
        font-size: 15px
    }
}

@media screen and (max-width: 1000px) {
    .menu-list .btn-link:not(:last-child) {
        margin-right:9px
    }
}

@media screen and (max-width: 739px) {
    .m-logo {
        position:relative;
        top: 20px;
        left: 20px;
        font-size: 0;
        line-height: 0
    }

    .m-logo .b-link {
        background-size: auto 27px;
        width: 153px;
        height: 27px
    }

    .btn-menu {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 2px;
        z-index: 1
    }

    .btn-menu.is-active:before {
        margin-top: -2px;
        transform: rotate(-45deg)
    }

    .btn-menu.is-active:after {
        margin-top: -2px;
        transform: rotate(45deg)
    }

    .btn-menu.is-active .text {
        opacity: 0
    }

    .btn-menu:before,.btn-menu:after {
        content: '';
        margin-left: -10px;
        background: #000;
        display: block;
        width: 20px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transition: ease-in .3s all;
        transform-origin: center 50%
    }

    .btn-menu:before {
        margin-top: -8px
    }

    .btn-menu:after {
        margin-top: 6px
    }

    .btn-menu .text {
        background: #000;
        margin: -1px 0 0 -10px;
        display: block;
        width: 20px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transition: ease-in .3s all
    }

    #sidebar .btn-menu {
        top: 20px;
        right: 20px;
    }

    .m-nav {
        background: #FFF;
        width: 80vw;
        height: 100vh;
        overflow: hidden;
        transition: ease-in .3s all
    }

    .menu-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80vw;
        height: 100%;
        float: right
    }

    .menu-list .list {
        position: relative;
    }

    .menu-list .list:not(:last-child) {
    	margin-bottom: 10px
    }

    .menu-list .b-link {
    	color: #000;
        font-size: 16px;
        line-height: 40px
    }

    .menu-list .btn-link {
        margin: 0 4px
    }
}

.copyright {
	color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 2em
}

.l-main .btn-link {
    border-radius: 2px;
    line-height: 1.5em
}

.l-main .btn-link .text {
    position: relative
}

.l-main .btn-link .text:before,.l-main .btn-link .text:after {
    content: '';
    background: #FFF;
    display: block;
    width: 0;
    height: 1px;
    position: absolute;
    top: 50%;
    transition: ease-in .3s all
}

.l-main .btn-link .text:before {
    margin-top: -2px;
    left: 0
}

.l-main .btn-link .text:after {
    margin-top: 1px;
    right: 0
}

.btn-circle {
    position: relative;
    border-radius: 50%
}

.btn-circle:before,.btn-circle:after {
    content: '';
    background: url('../../content/img/result/result.png?1522235688') no-repeat;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%
}

@media screen and (max-width: 1000px) {
    .l-main .btn-link {
        padding:0 10px;
        height: 40px;
        font-size: 16px
    }

    .btn-circle {
        width: 40px;
        height: 40px
    }

    .btn-circle:before {
        background-size: 30px auto
    }

    .btn-circle.icon-save:before {
        margin: -13px 0 0 -10px;
        width: 20px;
        height: 22px
    }

    .btn-circle.icon-fb:before {
        margin: -9px 0 0 -5px;
        background-position: -20px 0;
        width: 10px;
        height: 18px
    }
}

.flip-card {
    position: relative;
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
    perspective: 1000px
}

.flip-card .list {
    margin: 0 4px 0 3px;
    display: inline-block;
    position: relative
}

.flip-card .list:before,.flip-card .list:after {
    content: '';
    margin-top: -7px;
    background: #000;
    display: block;
    width: 3px;
    height: 14px;
    position: absolute;
    top: 50%;
    z-index: 2
}

.flip-card .list:before {
    right: 100%
}

.flip-card .list:after {
    left: 100%
}

.flip-card .back {
    width: 100%;
    height: 100%
}

.flip-card .back .top,.flip-card .back .bottom {
    display: block;
    width: 100%;
    border: 1px solid #a6acad;
    border-radius: 2px;
    box-sizing: border-box
}

.flip-card .back .top:before,.flip-card .back .bottom:before {
    bottom: 0
}

.flip-card .back .top {
    margin-bottom: 1px;
    position: relative
}

.flip-card .flip-front,.flip-card .flip-back {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    border: 1px solid #a6acad;
    border-radius: 2px;
    box-sizing: border-box;
    backface-visibility: hidden
}

.flip-card .flip-front {
    bottom: 0;
    opacity: 0;
    animation: flip-front 0.5s forwards linear;
    transform: rotateX(180deg);
    transform-origin: top center
}

.flip-card .flip-front:before {
    top: 0
}

.flip-card .flip-back {
    top: 0;
    animation: flip-back 0.5s forwards linear;
    transform-origin: bottom center
}

.flip-card .back .top:before,.flip-card .flip-front:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%
}

.flip-card .flip-back {
    width: 100%
}

.btn-top {
    background: rgba(177,191,196,0.8);
    display: block;
    width: 44px;
    height: 44px;
    position: fixed;
    bottom: 58px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    color: #FFF;
    font-size: 12px;
    letter-spacing: 1px;
    transition: ease-in .3s opacity
}

.btn-top:before {
    content: '';
    margin: 4px auto -2px auto;
    display: block;
    width: 12px;
    height: 12px;
    border-top: 2px solid #FFF;
    border-right: 2px solid #FFF;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    transform: rotate(-45deg)
}

@keyframes flip-front {
    0% {
        opacity: 0;
        transform: rotateX(180deg)
    }

    50% {
        opacity: 0
    }

    50.1% {
        opacity: 1
    }

    100% {
        opacity: 1;
        transform: rotateX(0deg)
    }
}

@keyframes flip-back {
    0% {
        opacity: 1;
        transform: rotateX(0deg)
    }

    50% {
        opacity: 1
    }

    50.1% {
        opacity: 0
    }

    100% {
        opacity: 0;
        transform: rotateX(-180deg)
    }
}

@media screen and (min-width: 740px) and (min-height: 414px) {
    .flip-card .list {
        width:60px;
        height: 89px
    }

    .flip-card .back .top,.flip-card .back .bottom,.flip-card .flip-front,.flip-card .flip-back {
        height: 44px
    }

    .flip-card .flip-front:before {
        top: -4px
    }

    .btn-top {
        display: none
    }
}

@media screen and (max-width: 739px) {
    .flip-card .list {
        width:30px;
        height: 45px
    }

    .flip-card .back .top,.flip-card .back .bottom,.flip-card .flip-front,.flip-card .flip-back {
        height: 22px
    }

    .flip-card .flip-front:before {
        top: -2px
    }
}

.m-lightbox {
    background: #FFF;
    position: relative;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1)
}

.m-lightbox .m-lightbox-bd {
    box-sizing: border-box
}

.m-lightbox .btn-close {
    background: #FFF;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    transition: ease-in .3s all
}

.m-lightbox .btn-close:before,.m-lightbox .btn-close:after {
    content: '';
    margin: -10px 0 0 -1px;
    background: #000;
    display: block;
    width: 2px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 2px
}

.m-lightbox .btn-close:before {
    transform: rotate(45deg)
}

.m-lightbox .btn-close:after {
    transform: rotate(-45deg)
}

.m-lightbox .btn-arrow {
    margin-top: -20px;
    display: none;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transition: ease-in .3s all
}

.m-lightbox .btn-arrow.btn-prev:before {
    margin-left: -6px;
    transform: rotate(-45deg)
}

.m-lightbox .btn-arrow.btn-next:before {
    margin-left: -14px;
    transform: rotate(135deg)
}

.m-lightbox .btn-arrow.is-show {
    display: block
}

.m-lightbox .btn-arrow:before {
    content: '';
    margin-top: -8px;
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-top: 2px solid #000;
    border-left: 2px solid #000
}

@media screen and (min-width: 740px) and (min-height: 414px) {
    .m-lightbox .btn-close {
        top:25px;
        right: 25px
    }

    .m-lightbox .btn-arrow.btn-prev {
        left: 25px
    }

    .m-lightbox .btn-arrow.btn-next {
        right: 25px
    }

    .m-lightbox .m-lightbox-bd {
        padding: 100px;
        width: 600px;
        max-height: 80vh;
        overflow-x: hidden;
        overflow-y: auto
    }

    .m-lightbox .m-lightbox-bd img {
        max-width: 400px
    }
}

@media screen and (max-width: 739px) {
    .m-lightbox .btn-close {
        top:0;
        right: 0
    }

    .m-lightbox .btn-arrow.btn-prev {
        left: 0
    }

    .m-lightbox .btn-arrow.btn-next {
        right: 0
    }

    .m-lightbox .m-lightbox-bd {
        padding: 50px 40px;
        width: calc(100vw - 60px)
    }

    .m-lightbox .m-lightbox-bd img {
        max-width: 100%
    }
}

.main-content {
    position: relative
}

.main-content:after {
    content: '';
    display: block;
    position: absolute;
    border-top: solid #dce6e8;
    border-right: solid #FFF;
    border-bottom: solid #FFF;
    border-left: solid #dce6e8
}

.main-cut {
    position: relative;
    box-sizing: border-box
}

.main-cut:before,.main-cut:after {
    content: '';
    background: url('../../content/img/product/product.png?1522143072') no-repeat;
    display: block;
    position: absolute
}

.main-info {
    position: relative
}

.main-info:before,.main-info:after {
    content: '';
    background: url('../../content/img/product/product.png?1522143072') no-repeat;
    display: block;
    position: absolute
}

.page-title {
    position: relative;
    background: url('../../content/img/product/title.png?1522143053') 0 0 no-repeat;
    display: block
}

.signature {
    background: url('../../content/img/product/product.png?1522143072') no-repeat;
    position: relative
}

.signature .wording {
    position: absolute;
    white-space: nowrap
}

.jQ-video {
    background: #000;
    position: relative;
    z-index: 1
}

.gift-content {
    background: #FFF;
    overflow: hidden
}

.gift-info {
    position: relative;
    box-sizing: border-box
}

.gift-info:before,.gift-info:after {
    content: '';
    background: url('../../content/img/product/product.png?1522143072') no-repeat;
    display: block;
    position: absolute
}

.flip-card .list:nth-child(1) .flip-front,.flip-card .list:nth-child(1) .flip-back {
    animation-delay: 0.1s
}

.flip-card .list:nth-child(2) .flip-front,.flip-card .list:nth-child(2) .flip-back {
    animation-delay: 0.2s
}

.flip-card .list:nth-child(3) .flip-front,.flip-card .list:nth-child(3) .flip-back {
    animation-delay: 0.3s
}

.flip-card .list:nth-child(4) .flip-front,.flip-card .list:nth-child(4) .flip-back {
    animation-delay: 0.4s
}

.flip-card .list:nth-child(5) .flip-front,.flip-card .list:nth-child(5) .flip-back {
    animation-delay: 0.5s
}

.flip-card .list:nth-child(6) .flip-front,.flip-card .list:nth-child(6) .flip-back {
    -moz-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s
}

.flip-card .back .top,.flip-card .back .bottom.flip-card .flip-front,.flip-card .flip-back {
    background: #FFF
}

.flip-card .back .top:before,.flip-card .flip-front:before {
    background: url('../../content/img/product/product.png?1522143072') no-repeat
}

.gift-detail .list {
    display: flex;
    font-size: 0;
    line-height: 0
}

.gift-detail .list:not(:last-child) {
    margin-bottom: 0.5rem
}

.gift-detail .list>* {
    line-height: 1.5em
}

.gift-detail .list .info-type {
    flex-shrink: 0;
    width: 7em
}

.gift-photo {
    position: relative
}

.gift-photo:before,.gift-photo:after {
    content: '';
    background: url('../../content/img/product/product.png?1522143072') no-repeat;
    display: block;
    position: absolute
}

.gift-photo img {
    max-width: 100%;
    position: relative;
    z-index: 1
}

.link-list {
    font-size: 0;
    line-height: 0
}

.link-list .btn-link {
    background: #FFF;
    border: solid #b1bfc4;
    box-sizing: border-box;
    transition: ease-in .3s all;
    color: #000
}

.link-list .btn-link.is-curr {
    background: #000;
    border-color: #000;
    color: #FFF;
    font-weight: bold
}

.designer-portrait {
    position: relative
}

.designer-portrait:before {
    content: '';
    background: url('../../content/img/product/product.png?1522143072') no-repeat;
    display: block;
    position: absolute
}

.designer-portrait img {
    width: 128px
}

.item-wrap {
    display: flex;
    align-items: center;
    justify-content: center
}

.item-wrap .item-main-title {
    position: relative
}

.item-wrap .item-main-title:after {
    content: '';
    background: #b1bfc4;
    display: block;
    width: 142px;
    height: 6px;
    position: absolute;
    top: 100%;
    left: 0
}

.item-wrap .item-sub-title,.item-wrap .item-main-title,.item-wrap .desc {
    line-height: 1.5em
}

.item-wrap .desc {
    margin-top: 1em
}

.item-wrap .btn-link {
    background: #000;
    color: #fff100
}

.item-wrap .btn-link .text:before,.item-wrap .btn-link .text:after {
    background: #fff100
}

.photo-wrap>.img-wrap img {
    max-width: 100%
}

.preview-list {
    font-size: 0;
    line-height: 0
}

.preview-list .list {
    vertical-align: top
}

.btn-img {
    font-size: 14px;
    line-height: 1.5em
}

.btn-img .img-wrap {
    margin: 0 auto 5px auto;
    background: #000;
    position: relative
}

.btn-img .img-wrap:before,.btn-img .img-wrap:after {
    content: '';
    background: #FFF;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    z-index: 1;
    transition: ease-in .3s all
}

.btn-img .img-wrap img {
    max-width: 100%;
    transition: ease-in .3s all
}

.feature-wrap:nth-child(2n) {
    background: #eef3f4
}

.feature-wrap:nth-child(2) {
    background: #FFF
}

.feature-wrap:nth-child(2) .section-title {
    background: #dce6e8;
    position: relative
}

.feature-wrap:nth-child(2) .section-title:after {
    content: '';
    background: url('../../content/img/product/product.png?1522143072') no-repeat;
    display: block;
    position: absolute;
    left: 50%
}

.feature-wrap:nth-child(2) .content-wrap {
    background: #FFF;
    position: relative
}

.feature-wrap:nth-child(2) .feature-list {
    font-size: 0;
    line-height: 0
}

.feature-wrap:nth-child(2) .desc-wrap {
    letter-spacing: 2px
}

.feature-wrap:nth-child(2) .feature-type {
    margin-top: 20px;
    padding: 0 10px;
    background: #a7c2cb;
    color: #FFF;
    font-size: 28px;
    line-height: 1.5em
}

.feature-wrap:nth-child(2) .desc {
    padding: 0.6em 0;
    font-size: 18px;
    line-height: 1.5em;
    white-space: nowrap
}

.feature-wrap:nth-child(2) .hint {
    margin-top: 20px;
    padding-left: 0.5em;
    color: #7f9ba5;
    font-size: 13px;
    line-height: 1.5em;
    text-indent: -0.5em
}

.feature-wrap:nth-child(3) .content-wrap {
    justify-content: center;
    flex-direction: column
}

.feature-wrap:nth-child(3) .detail-box {
    background: #eef3f4
}

.feature-wrap:nth-child(3) .detail-box .desc {
    position: relative
}

.feature-wrap:nth-child(3) .detail-box .desc:before {
    content: '';
    background: url('../../content/img/product/product-features.png?1524211081') no-repeat;
    display: block;
    position: absolute;
    top: 0;
    right: 100%
}

.feature-wrap:nth-child(3) .compare-list {
    align-items: flex-start
}

.feature-wrap:nth-child(3) .compare-title {
    color: #023b52
}

.feature-wrap:nth-child(3) .compare-title .highlight {
    color: #b1bfc4
}

.feature-wrap:nth-child(3) .compare-title .main {
    color: #496877
}

.feature-wrap:nth-child(3) .compare-title .hint {
    color: #4d4d4d
}

.feature-wrap:nth-child(4) .content-wrap {
    justify-content: center;
    flex-direction: column
}

.feature-wrap:nth-child(4) .compare-title {
    font-size: 16px
}

.feature-wrap:nth-child(6) .content-wrap {
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse
}

.feature-wrap:nth-child(6) .compare-title {
    color: #023b52
}

.feature-wrap:nth-child(7) .content-wrap {
    flex-direction: column
}

.feature-wrap .content-wrap,.feature-wrap .compare-list {
    display: flex;
    justify-content: center
}

.feature-wrap .feature-hd {
    display: flex;
    align-items: center;
    justify-content: center
}

.feature-wrap .feature-title {
    color: #b1bfc4;
    line-height: 1.5em
}

.feature-wrap .feature-slogan .highlight {
    background: #a7c2cb;
    vertical-align: top;
    color: #FFF
}

.feature-wrap .feature-desc .highlight {
    color: #023b52
}

.certificate-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}

.certificate-list .list {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-color: #023b52;
    border-style: solid;
    box-sizing: border-box
}

.certificate-list .list:before {
    content: '';
    background: url('../../content/img/product/product-features.png?1524211081') no-repeat;
    display: block
}

.series-list .list {
    display: flex
}

.series-list .btn-link {
    margin-top: 10px;
    background: #000;
    box-sizing: border-box;
    color: #fff100
}

.series-list .btn-link .text:before,.series-list .btn-link .text:after {
    background: #fff100
}

.compare-img img {
    width: 100%
}

@media screen and (min-width: 740px) and (min-height: 414px) {
    .main-cut {
        margin:0 auto;
        display: flex;
        align-items: flex-start;
        max-width: 1250px
    }

    .signature {
        background-position: -324px 0;
        width: 92px;
        height: 56px
    }

    .signature .wording {
        top: 45px;
        left: 42px
    }

    .gift-content {
        min-height: 50px
    }

    .gift-info {
        margin: 0 auto;
        padding: 60px 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        max-width: 960px
    }

    .gift-info .wording-wrap {
        padding-right: 32px;
        flex-grow: 1
    }

    .gift-photo {
        flex-shrink: 0
    }

    .flip-card .list:nth-child(1) .back .top:before {
        background-position: calc(-48px * (1 - 1)) -76px
    }

    .flip-card .list:nth-child(1) .flip-front:before {
        background-position: calc(-48px * (1 - 1)) -98px
    }

    .flip-card .list:nth-child(2) .back .top:before {
        background-position: calc(-48px * (2 - 1)) -76px
    }

    .flip-card .list:nth-child(2) .flip-front:before {
        background-position: calc(-48px * (2 - 1)) -98px
    }

    .flip-card .list:nth-child(3) .back .top:before {
        background-position: calc(-48px * (3 - 1)) -76px
    }

    .flip-card .list:nth-child(3) .flip-front:before {
        background-position: calc(-48px * (3 - 1)) -98px
    }

    .flip-card .list:nth-child(4) .back .top:before {
        background-position: calc(-48px * (4 - 4)) -124px
    }

    .flip-card .list:nth-child(4) .flip-front:before {
        background-position: calc(-48px * (4 - 4)) -146px
    }

    .flip-card .list:nth-child(5) .back .top:before {
        background-position: calc(-48px * (5 - 4)) -124px
    }

    .flip-card .list:nth-child(5) .flip-front:before {
        background-position: calc(-48px * (5 - 4)) -146px
    }

    .flip-card .list:nth-child(6) .back .top:before {
        background-position: calc(-48px * (6 - 4)) -124px
    }

    .flip-card .list:nth-child(6) .flip-front:before {
        background-position: calc(-48px * (6 - 4)) -146px
    }

    .flip-card .list .back .top:before,.flip-card .list .flip-front:before {
        margin-left: -24px;
        width: 48px;
        height: 23px
    }

    .flip-card .list .flip-front:before {
        height: 26px
    }

    .product-detail {
        padding: 0 20px 80px 20px
    }

    .link-list {
        margin-top: -25px
    }

    .link-list .list {
        margin: 0 5px
    }

    .link-list .btn-link {
        border-width: 2px;
        font-size: 16px
    }

    .designer-wrap {
        margin: 0 auto;
        padding: 60px 40px 30px 40px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        max-width: 960px;
        box-sizing: border-box
    }

    .designer-portrait:before {
        background-position: -324px 0;
        width: 92px;
        height: 56px;
        top: 20px;
        left: 144px
    }

    .designer-portrait .b-desc {
        position: absolute;
        bottom: 0;
        left: 144px;
        white-space: nowrap
    }

    .item-wrap {
        margin: 0 auto;
        max-width: 960px
    }

    .item-wrap:not(:nth-child(3)) {
        padding-top: 60px
    }

    .item-wrap:nth-child(2n+1) {
        flex-direction: row-reverse
    }

    .item-wrap>* {
        box-sizing: border-box
    }

    .item-wrap .text-wrap {
        margin: 40px 0
    }

    .item-wrap .btn-wrap .btn-link {
        margin-top: 20px
    }

    .preview-list {
        margin-top: 30px
    }

    .preview-list .list {
        margin: 0 10px
    }

    .btn-img .img-wrap {
        width: 100px
    }

    .section-title .main-title {
        font-size: 48px
    }

    .section-title .sub-title {
        font-size: 30px
    }

    .feature-wrap {
        padding: 60px 0
    }

    .feature-wrap:nth-child(4) .feature-title,.feature-wrap:nth-child(7) .feature-title {
        margin-right: 20px
    }

    .feature-wrap:nth-child(2) {
        padding: 0
    }

    .feature-wrap:nth-child(2) .section-title {
        margin-top: 56px;
        padding-bottom: 144px
    }

    .feature-wrap:nth-child(2) .section-title:after {
        margin-left: 272px;
        background-position: -324px 0;
        width: 92px;
        height: 56px;
        bottom: 120px
    }

    .feature-wrap:nth-child(2) .sub-title {
        margin-top: 40px;
        font-size: 18px
    }

    .feature-wrap:nth-child(2) .feature-list {
        margin-top: -90px;
        width: 680px
    }

    .feature-wrap:nth-child(2) .list {
        margin: 0 10px 56px 10px;
        width: 320px
    }

    .feature-wrap:nth-child(2) .list .desc-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-bottom: 1px solid #bcd0d7
    }

    .feature-wrap:nth-child(2) .list .desc-wrap>*:not(img) {
        order: 1
    }

    .feature-wrap:nth-child(2) .list img {
        order: 0;
        width: 100%
    }

    .feature-wrap:nth-child(3) {
        padding-top: 40px
    }

    .feature-wrap:nth-child(3) .section-title {
        margin-top: 20px
    }

    .feature-wrap:nth-child(3) .content-wrap:nth-child(2) {
        margin-top: 40px
    }

    .feature-wrap:nth-child(3) .content-wrap:nth-child(2) .feature-hd {
        flex-direction: column
    }

    .feature-wrap:nth-child(3) .content-wrap:nth-child(2) .feature-hd .text-wrap {
        margin: 0 40px
    }

    .feature-wrap:nth-child(3) .content-wrap:nth-child(2) .feature-bd {
        margin: -100px 40px 0 40px;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        justify-content: space-between
    }

    .feature-wrap:nth-child(3) .content-wrap:nth-child(2) .feature-bd .text-wrap {
        width: 50%
    }

    .feature-wrap:nth-child(3) .content-wrap:last-child {
        margin-top: 60px
    }

    .feature-wrap:nth-child(3) .content-wrap:last-child .feature-hd {
        margin: 0 40px
    }

    .feature-wrap:nth-child(3) .content-wrap:last-child .feature-slogan {
        margin-bottom: 20px
    }

    .feature-wrap:nth-child(3) .content-wrap:last-child .feature-slogan .highlight {
        margin-bottom: 0;
        margin-left: 10px
    }

    .feature-wrap:nth-child(3) .content-wrap:last-child .compare-list {
        margin-top: 40px
    }

    .feature-wrap:nth-child(3) .content-wrap .feature-hd {
        align-items: flex-start;
        justify-content: flex-start
    }

    .feature-wrap:nth-child(3) .detail-box {
        margin-top: 20px;
        padding: 15px 20px 25px 50px;
        font-size: 14px
    }

    .feature-wrap:nth-child(3) .detail-box .desc:before {
        margin-right: 12px;
        background-position: -132px -60px;
        width: 24px;
        height: 32px
    }

    .feature-wrap:nth-child(3) .compare-title:not(.b-hide-text) {
        margin-bottom: 20px;
        font-size: 16px
    }

    .feature-wrap:nth-child(3) .compare-title:not(.b-hide-text) .highlight {
        font-size: 72px;
        line-height: 90px
    }

    .feature-wrap:nth-child(3) .compare-title:not(.b-hide-text) .main {
        font-size: 26px
    }

    .feature-wrap:nth-child(3) .compare-title:not(.b-hide-text) .desc {
        font-size: 16px
    }

    .feature-wrap:nth-child(3) .compare-title:not(.b-hide-text) .hint {
        font-size: 14px
    }

    .feature-wrap:nth-child(4) .feature-bd {
        margin-top: 40px
    }

    .feature-wrap:nth-child(4) .compare-title {
        margin-bottom: 20px
    }

    .feature-wrap:nth-child(6) .compare-img {
        margin-top: 20px
    }

    .feature-wrap:nth-child(6) .compare-title {
        font-size: 18px
    }

    .feature-wrap:nth-child(7) {
        padding-bottom: 0
    }

    .feature-wrap:nth-child(7) .feature-bd {
        margin-top: 10px
    }

    .feature-wrap .feature-title {
        font-size: 72px
    }

    .feature-wrap .feature-slogan {
        font-size: 26px
    }

    .feature-wrap .feature-slogan .highlight {
        margin-bottom: 20px;
        padding: 0 1em;
        font-size: 16px;
        line-height: 40px
    }

    .feature-wrap .feature-desc {
        font-size: 16px
    }

    .certificate-list .list {
        margin: 0 5px;
        border-width: 2px;
        border-radius: 10px
    }

    .series-list {
        margin: 0 auto;
        max-width: 860px
    }

    .series-list .list {
        margin-top: 110px;
        flex-direction: row-reverse;
        justify-content: center
    }

    .series-list .item-wording {
        flex-grow: 1
    }

    .series-list .item-name {
        font-size: 18px;
        line-height: 30px
    }

    .series-list .item-name .upper {
        font-size: 30px
    }

    .series-list .item-info {
        font-size: 14px;
        line-height: 30px
    }

    .series-list .item-info .upper {
        font-size: 20px
    }
}

@media screen and (min-width: 740px) and (orientation: portrait) and (max-width: 1000px) {
    .main-content:after {
        right:20px
    }

    .main-cut {
        padding: 120px 50px 70px 50px
    }

    .main-cut:before {
        top: 120px
    }

    .main-info {
        padding-right: 25px
    }

    .main-info:after {
        bottom: -30px
    }

    .page-title {
        margin-bottom: 50px;
        background-size: 342px auto;
        width: 342px;
        height: 40px
    }

    .jQ-video {
        width: 300px;
        height: 169px
    }

    .gift-info {
        padding-right: 80px;
        padding-left: 80px
    }

    .flip-card {
        transform: scale(0.75);
        transform-origin: left top
    }

    .gift-title {
        margin-bottom: 10px
    }

    .link-list .btn-link {
        width: 160px;
        line-height: 36px
    }

    .designer-portrait {
        margin-right: 8px
    }

    .item-wrap {
        padding-right: 20px;
        padding-left: 20px
    }

    .item-wrap>* {
        padding: 0 20px
    }

    .item-wrap .wording-wrap {
        flex-grow: 1
    }

    .feature-wrap:nth-child(3) .content-wrap:nth-child(2) .feature-bd {
        margin: 0 40px
    }

    .feature-wrap:nth-child(3) .content-wrap:nth-child(2) .feature-bd>* {
        margin: 0 10px
    }

    .feature-wrap:nth-child(3) .content-wrap:nth-child(2) .compare-list {
        margin-top: 20px;
        align-items: center
    }

    .feature-wrap:nth-child(3) .content-wrap:last-child {
        margin-top: 60px
    }

    .feature-wrap:nth-child(3) .content-wrap .announce {
        margin-top: 25px
    }

    .feature-wrap:nth-child(4) .compare-list .list {
        width: 50%
    }

    .feature-wrap:nth-child(4) .compare-list .list:nth-child(1) .compare-img {
        width: 222px
    }

    .feature-wrap:nth-child(4) .compare-list .list:nth-child(2) .compare-img {
        width: 297px
    }

    .feature-wrap:nth-child(5) .feature-title {
        margin-right: 20px
    }

    .feature-wrap:nth-child(5) .compare-list {
        justify-content: space-around
    }

    .feature-wrap:nth-child(5) .compare-list .list .compare-img {
        width: 225px
    }

    .feature-wrap:nth-child(6) .feature-hd {
        margin-bottom: 20px
    }

    .feature-wrap:nth-child(6) .feature-title {
        margin-right: 20px
    }

    .certificate-list .list {
        padding: 0 24px;
        height: 82px
    }

    .certificate-list .list:before {
        background-size: 207px auto
    }

    .certificate-list .list:nth-child(1):before {
        width: 99px;
        height: 51px
    }

    .certificate-list .list:nth-child(2):before {
        background-position: -99px 0;
        width: 108px;
        height: 45px
    }

    .certificate-list .list:nth-child(3):before {
        background-position: 0 -51px;
        width: 90px;
        height: 54px
    }

    .certificate-list .list:nth-child(4):before {
        background-position: -90px -72px;
        width: 117px;
        height: 33px
    }

    .series-list .list {
        padding: 0 40px
    }

    .series-list .list .img-wrap {
        flex-shrink: 0;
        width: 270px
    }

    .series-list .list .img-wrap img {
        width: 249px
    }
}

@media screen and (max-width: 1000px) {
    .main-content:after {
        bottom:0;
        border-width: 32px;
        box-shadow: -1px -1px 0 #FFF,0 -1px 0 #FFF,-1px 0 0 #FFF
    }

    .main-cut {
        justify-content: space-around
    }

    .main-cut:before {
        background-size: 214px auto;
        width: 162px;
        height: 38px;
        left: -10px
    }

    .main-cut:after {
        background-position: 0 -96px;
        background-size: 214px auto;
        width: 106px;
        height: 48px;
        bottom: 31px;
        right: 146px
    }

    .main-info {
        padding-top: 70px
    }

    .main-info:before {
        background-position: 0 -86px;
        background-size: 214px auto;
        width: 68px;
        height: 10px;
        top: 38px;
        left: 134px
    }

    .main-info:after {
        background-position: -106px -84px;
        background-size: 214px auto;
        width: 92px;
        height: 68px;
        right: 0
    }

    .gift-info:before {
        background-position: 0 -96px;
        background-size: 214px auto;
        width: 106px;
        height: 48px;
        bottom: 73px;
        left: -64px
    }

    .gift-info:after {
        background-position: 0 -86px;
        background-size: 214px auto;
        width: 68px;
        height: 10px;
        bottom: 88px;
        right: -50px
    }

    .gift-detail .list>* {
        font-size: 14px
    }

    .gift-photo {
        width: 180px
    }

    .gift-photo:before {
        background-position: 0 -86px;
        background-size: 214px auto;
        width: 68px;
        height: 10px;
        bottom: 10px;
        left: -27px
    }

    .gift-photo:after {
        background-position: -72px -38px;
        background-size: 214px auto;
        width: 126px;
        height: 46px;
        top: 12px;
        right: -46px
    }

    .item-wrap .item-sub-title,.item-wrap .desc {
        font-size: 14px
    }

    .item-wrap .item-main-title {
        font-size: 24px
    }

    .item-wrap .btn-wrap .btn-link {
        width: 240px;
        box-sizing: border-box;
        line-height: 40px
    }

    .photo-wrap>.img-wrap {
        margin: 0 auto;
        width: 240px
    }

    .preview-list {
        white-space: nowrap
    }

    .btn-img .img-wrap {
        width: 50px
    }

    .feature-wrap {
        padding-right: 20px;
        padding-left: 20px
    }

    .feature-wrap:nth-child(3) .compare-list {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .feature-wrap:nth-child(3) .compare-list .list:first-child {
        width: 100%
    }

    .feature-wrap:nth-child(5) .content-wrap,.feature-wrap:nth-child(6) .content-wrap {
        flex-direction: column
    }

    .series-list .btn-link {
        line-height: 40px
    }
}

@media screen and (device-width: 375px) and (orientation: landscape) and (max-width: 413px) {
    .feature-wrap:nth-child(3) .content-wrap:nth-child(2) .compare-img {
        transform:scale(0.95);
        transform-origin: left
    }
}

@media screen and (max-width: 739px) {
    .main-content:after {
        right:10px
    }

    .main-cut {
        padding: 74px 30px 86px 30px
    }

    .main-cut:before {
        top: 74px
    }

    .main-info {
        padding-bottom: 70px
    }

    .main-info:before {
        left: 164px
    }

    .main-info:after {
        bottom: 30px
    }

    .page-title {
        margin: 0 auto 50px auto;
        background-size: calc(100vw - 60px) auto;
        width: calc(100vw - 60px);
        height: calc((100vw - 60px) * 0.117)
    }

    .jQ-video {
        width: 100%;
        height: calc((100vw - 60px) * 0.5625)
    }

    .signature {
        background-position: -162px 0;
        background-size: 214px auto;
        width: 46px;
        height: 28px
    }

    .signature .wording {
        top: 30px;
        left: 28px;
        font-size: 12px
    }

    .jQ-video {
        margin: 0 auto
    }

    .gift-content {
        min-height: 40px
    }

    .gift-info {
        padding: 30px 25px 60px 25px
    }

    .gift-info:before,.gift-info:after {
        display: none
    }

    .gift-title {
        margin-bottom: 20px
    }

    .gift-photo {
        margin: 20px auto 0 auto
    }

    .flip-card .list:nth-child(1) .back .top:before {
        background-position: calc(-24px * (1 - 1)) -38px
    }

    .flip-card .list:nth-child(1) .flip-front:before {
        background-position: calc(-24px * (1 - 1)) -49px
    }

    .flip-card .list:nth-child(2) .back .top:before {
        background-position: calc(-24px * (2 - 1)) -38px
    }

    .flip-card .list:nth-child(2) .flip-front:before {
        background-position: calc(-24px * (2 - 1)) -49px
    }

    .flip-card .list:nth-child(3) .back .top:before {
        background-position: calc(-24px * (3 - 1)) -38px
    }

    .flip-card .list:nth-child(3) .flip-front:before {
        background-position: calc(-24px * (3 - 1)) -49px
    }

    .flip-card .list:nth-child(4) .back .top:before {
        background-position: calc(-24px * (4 - 4)) -62px
    }

    .flip-card .list:nth-child(4) .flip-front:before {
        background-position: calc(-24px * (4 - 4)) -73px
    }

    .flip-card .list:nth-child(5) .back .top:before {
        background-position: calc(-24px * (5 - 4)) -62px
    }

    .flip-card .list:nth-child(5) .flip-front:before {
        background-position: calc(-24px * (5 - 4)) -73px
    }

    .flip-card .list:nth-child(6) .back .top:before {
        background-position: calc(-24px * (6 - 4)) -62px
    }

    .flip-card .list:nth-child(6) .flip-front:before {
        background-position: calc(-24px * (6 - 4)) -73px
    }

    .flip-card .list .back .top:before,.flip-card .list .flip-front:before {
        margin-left: -12px;
        background-size: 214px auto;
        width: 24px;
        height: 11px
    }

    .flip-card .list .flip-front:before {
        height: 13px
    }

    .link-list {
        margin-top: -20px
    }

    .link-list .list {
        margin: 0 5px
    }

    .link-list .btn-link {
        width: 104px;
        border-width: 1px;
        line-height: 38px
    }

    .designer-wrap {
        padding-top: 60px
    }

    .designer-portrait {
        font-size: 12px
    }

    .designer-portrait:before {
        background-position: -162px 0;
        background-size: 214px auto;
        width: 46px;
        height: 28px;
        top: 76px;
        left: 144px
    }

    .designer-portrait .b-desc {
        margin-top: 10px
    }

    .item-wrap {
        margin: 0 25px;
        padding: 40px 0;
        flex-direction: column-reverse
    }

    .item-wrap:last-child {
        border-top: 1px solid #b1bfc4
    }

    .item-wrap .wording-wrap {
        margin-top: 20px
    }

    .item-wrap .text-wrap {
        margin: 40px 0
    }

    .item-wrap .btn-wrap .btn-link {
        margin: 10px auto 0 auto
    }

    .preview-list {
        margin-top: 15px
    }

    .preview-list .list {
        margin: 0 10px
    }

    .product-detail {
        padding: 0 10px 10px 10px
    }

    .section-title {
        margin-top: 20px
    }

    .section-title .main-title {
        font-size: 24px
    }

    .section-title .sub-title {
        font-size: 15px
    }

    .feature-wrap {
        padding: 30px 20px
    }

    .feature-wrap .feature-hd {
        flex-direction: column
    }

    .feature-wrap .feature-bd {
        margin-top: 20px
    }

    .feature-wrap:nth-child(2) {
        padding: 0
    }

    .feature-wrap:nth-child(2) .section-title {
        margin-top: 30px;
        padding-bottom: 72px
    }

    .feature-wrap:nth-child(2) .section-title:after {
        background-position: -162px 0;
        background-size: 214px auto;
        width: 46px;
        height: 28px;
        bottom: 40px;
        left: auto;
        right: 20px
    }

    .feature-wrap:nth-child(2) .section-title .sub-title {
        margin-top: 20px
    }

    .feature-wrap:nth-child(2) .feature-list {
        margin-top: -45px
    }

    .feature-wrap:nth-child(2) .list {
        margin: 0 10px 50px 10px;
        max-width: 320px
    }

    .feature-wrap:nth-child(2) .list img {
        width: 100%
    }

    .feature-wrap:nth-child(3) .content-wrap {
        margin-top: 40px
    }

    .feature-wrap:nth-child(3) .content-wrap:nth-child(2) .compare-img {
        width: 334px
    }

    .feature-wrap:nth-child(3) .content-wrap:last-child .feature-slogan {
        display: flex;
        flex-direction: column-reverse;
        align-items: center
    }

    .feature-wrap:nth-child(3) .content-wrap:last-child .compare-list {
        margin-top: 20px
    }

    .feature-wrap:nth-child(3) .content-wrap:last-child .compare-list .list:not(:first-child) {
        margin-top: 20px
    }

    .feature-wrap:nth-child(3) .content-wrap:last-child .compare-list .list .compare-img {
        width: 142px
    }

    .feature-wrap:nth-child(3) .feature-desc {
        margin-top: 1.5em
    }

    .feature-wrap:nth-child(3) .detail-box {
        margin-top: 20px;
        padding: 15px 20px 15px 30px;
        font-size: 14px
    }

    .feature-wrap:nth-child(3) .detail-box .desc:before {
        margin-right: 6px;
        background-position: -66px -30px;
        background-size: 138px auto;
        width: 12px;
        height: 16px
    }

    .feature-wrap:nth-child(3) .compare-title {
        margin-bottom: 10px;
        font-size: 16px
    }

    .feature-wrap:nth-child(3) .compare-title .highlight {
        font-size: 48px;
        line-height: 60px
    }

    .feature-wrap:nth-child(3) .compare-title .main {
        font-size: 30px
    }

    .feature-wrap:nth-child(3) .compare-title .desc {
        font-size: 16px
    }

    .feature-wrap:nth-child(3) .compare-title .hint {
        font-size: 12px
    }

    .feature-wrap:nth-child(3) .announce {
        margin-top: 5px;
        font-size: 12px
    }

    .feature-wrap:nth-child(4) .compare-title {
        margin-bottom: 10px
    }

    .feature-wrap:nth-child(4) .compare-list {
        flex-wrap: wrap
    }

    .feature-wrap:nth-child(4) .compare-list .list:nth-child(1) .compare-img {
        width: 148px
    }

    .feature-wrap:nth-child(4) .compare-list .list:nth-child(2) {
        margin-top: 40px
    }

    .feature-wrap:nth-child(4) .compare-list .list:nth-child(2) .compare-img {
        width: 198px
    }

    .feature-wrap:nth-child(5) .compare-list {
        flex-wrap: wrap
    }

    .feature-wrap:nth-child(5) .compare-list .list:nth-child(2) {
        margin-left: 10px
    }

    .feature-wrap:nth-child(5) .compare-list .list .compare-img {
        width: 150px
    }

    .feature-wrap:nth-child(6) .compare-img {
        margin-top: 10px;
        width: 212px
    }

    .feature-wrap:nth-child(6) .compare-title {
        font-size: 18px
    }

    .feature-wrap .feature-title {
        font-size: 36px
    }

    .feature-wrap .feature-slogan {
        font-size: 20px
    }

    .feature-wrap .feature-slogan .highlight {
        margin-bottom: 10px;
        padding: 0 1em;
        font-size: 14px;
        line-height: 32px
    }

    .feature-wrap .feature-desc {
        display: inline-block;
        font-size: 14px;
        line-height: 1.5em
    }

    .certificate-list .list {
        margin: 3px;
        padding: 0 15px;
        width: 40%;
        height: 55px;
        border-width: 1px;
        border-radius: 5px
    }

    .certificate-list .list:before {
        background-size: 138px auto
    }

    .certificate-list .list:nth-child(1):before {
        width: 66px;
        height: 34px
    }

    .certificate-list .list:nth-child(2):before {
        background-position: -66px 0;
        width: 72px;
        height: 30px
    }

    .certificate-list .list:nth-child(3):before {
        background-position: 0 -34px;
        width: 60px;
        height: 36px
    }

    .certificate-list .list:nth-child(4):before {
        background-position: -60px -48px;
        width: 78px;
        height: 22px
    }

    .series-list {
        padding: 0 20px 20px 20px
    }

    .series-list .list {
        margin-top: 55px;
        flex-direction: column-reverse
    }

    .series-list .item-name {
        font-size: 18px;
        line-height: 30px
    }

    .series-list .item-name .upper {
        font-size: 24px
    }

    .series-list .item-info {
        font-size: 14px;
        line-height: 30px
    }

    .series-list .item-info .upper {
        font-size: 20px
    }

    .series-list .img-wrap {
        margin-bottom: 10px
    }

    .series-list .img-wrap img {
        width: 166px
    }
}

@media screen and (max-width: 739px) and (max-width: 413px) {
    .feature-wrap:nth-child(3) .content-wrap:nth-child(2) .compare-img {
        transform:scale(0.95);
        transform-origin: left
    }
}

@media screen and (max-width: 374px) {
    .main-cut {
        padding-right:25px;
        padding-left: 25px
    }

    .jQ-video {
        width: 270px;
        height: 150px
    }

    .link-list .list {
        margin: 0 3px
    }

    .link-list .btn-link {
        width: auto
    }

    .feature-wrap:nth-child(2) .list {
        margin-bottom: 40px;
        width: 280px
    }

    .feature-wrap:nth-child(2) .list .desc-wrap:after {
        transform: scale(0.875);
        transform-origin: left top
    }

    .feature-wrap:nth-child(2) .list .desc {
        white-space: normal
    }

    .feature-wrap:nth-child(2) .list .hint {
        margin-top: 0
    }

    .feature-wrap:nth-child(3) .content-wrap:nth-child(2) .compare-img {
        transform: scale(0.75);
        transform-origin: left
    }

    .feature-wrap:nth-child(5) .compare-list .list:nth-child(2) {
        margin-top: 20px;
        margin-left: 0
    }
}